:root {
    --primary-color: #ccc;

    --red-color: #c00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    cursor: pointer;
}

.form {
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    padding: 10px;
}

.form__input {
    height: 40px;
    font-size: 1.2rem;
    padding: 0 10px;
    color: black;
    border: 1px solid var(--primary-color);
}

.form__label {
    font-weight: bold;
}

.form__title {
    text-align: center;
}

.form__terms-link {
    display: block;

    margin-top: 5px;
}

.form__phone-group {
    margin-top: 5px;
}

.form__terms-label {
    cursor: pointer;
}

.form__phone-button {
    height: 40px;
    border: 1px solid var(--primary-color);
}

.form__phone-wrapper {
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 60px;
}

.form__submit {
    height: 40px;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    font-size: 1.2rem;
}

.form__input:focus {
    outline: none;
    border: 1px solid black;
}